@import url(./variables.css);


/* about-us-section-start */
#about-us {
    width: 100vw;
    height: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    position: relative;
}

.about-title h1::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-text-box,
.about-img-box {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.about-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text-box h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 20px;
    position: relative;
}

.about-text-box h3::after {
    content: "";
    width: 15%;
    height: 3px;
    background-color: var(--brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-text-box p {
    line-height: 25px;
}

.about-img-box {
    display: flex;
    align-items: center;
}

.about-img-box img {
    width: 600px;
    /* height: 510px; */
    border-radius: 25px;
}

/* about-us-section-end */