@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
@import url(./home-page.css);
@import url(./services.css);
@import url(./about-us.css);
@import url(./gallery.css);
@import url(./testimonials.css);
@import url(./contact-us.css);
@import url(./footer.css);
@import url(./variables.css);

* {
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--text-color);
}

.page-container {
    max-width: 1240px;
    margin: 0 auto;
}



.flex-container {
    display: flex;
}